root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
# Coding conventions
dotnet_naming_rule.private_instance_fields_must_have_m_prefix.severity = suggestion
dotnet_naming_rule.private_instance_fields_must_have_m_prefix.symbols = private_instance_fields
dotnet_naming_rule.private_instance_fields_must_have_m_prefix.style = m_prefix_style

dotnet_naming_symbols.private_instance_fields.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields.required_modifiers = 

dotnet_naming_style.m_prefix_style.required_prefix = m_
dotnet_naming_style.m_prefix_style.capitalization = pascal_case

dotnet_naming_rule.private_static_fields_must_have_s_prefix.severity = suggestion
dotnet_naming_rule.private_static_fields_must_have_s_prefix.symbols = private_static_fields
dotnet_naming_rule.private_static_fields_must_have_s_prefix.style = s_prefix_style

dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.required_modifiers = static

dotnet_naming_style.s_prefix_style.required_prefix = s_
dotnet_naming_style.s_prefix_style.capitalization = pascal_case

# Code quality rules
dotnet_analyzer_diagnostic.severity = warning
